@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #ffffff;
  --foreground: #042d44;
  --card: #ffffff;
  --card-foreground: #042d44;
  --popover: #ffffff;
  --popover-foreground: #042d44;
  --primary: #60a5fa;
  --primary-foreground: #60a5fa;
  --secondary: #f1f5f9;
  --secondary-foreground: #042d44;
  --muted: #ececf2;
  --muted-foreground: #71717a;
  --accent: #ececf2;
  --accent-foreground: #71717a;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #0a865a;
  --boldred: #b91414;
  --lightorange: #de9529;
  --radius: 12px;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
div.bar {
  height: 5px !important;
  background: #0f9e73 !important;
}
div.spinner {
  display: none !important;
}
.scrollbar-thin {
  scrollbar-width: thin;
  -webkit-scrollbar-width: thin;
}

@supports (-webkit-touch-callout: none) {
  input {
    font-size: 16px !important;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.admin-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
